<div class="register-body section-container" style="background-image: url('./build/images/backgrounds/1.jpg');background-repeat: no-repeat;">
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    	<div class="container">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="index.html">Bootstrap Registration Form Template</a>
    		</div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="top-navbar-1">
    			<ul class="nav navbar-nav navbar-right">
    				<li>
    					<span class="li-text">
    					    <a ui-sref="login"><strong>Login</strong></a> 
    					</span>
    				</li>
    			</ul>
    		</div>
    	</div>
    </nav>
    <div id='features' class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 features section-description wow fadeIn">
                    <h2>What's included</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                	<div class="features-box-icon">
                		<i class="fa fa-eye"></i>
                	</div>
                    <h3>Easy To Use</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 features-box wow fadeInDown">
                	<div class="features-box-icon">
                		<i class="fa fa-thumbs-o-up"></i>
                	</div>
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                	<div class="features-box-icon">
                		<i class="fa fa-cog"></i>
                	</div>
                    <h3>Bootstrap Engine</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 features-box wow fadeInUp">
                	<div class="features-box-icon">
                		<i class="fa fa-video-camera"></i>
                	</div>
                    <h3>Lots Of Videos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 features-box features-box-gray wow fadeInDown">
                	<div class="features-box-icon">
                		<i class="fa fa-mobile"></i>
                	</div>
                    <h3>Mobile App</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 features-box wow fadeInUp">
                	<div class="features-box-icon">
                		<i class="fa fa-users"></i>
                	</div>
                    <h3>Big Community</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-12 section-bottom-button wow fadeInUp">
                    <a class="btn btn-link-1 scroll-link" ui-sref="register">Sign up now</a>
            	</div>
            </div>
        </div>
    </div>   
    
    <div style="background-image: url('./build/images/backgrounds/1.jpg');background-repeat: no-repeat;background-size: 100% 100%;" class="how-it-works-container section-container section-container-image-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 how-it-works section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h2>Ready in 4 steps</h2>
                    <div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                	<div class="how-it-works-box-icon">
                		<i class="fa fa-pencil"></i>
                		<span aria-hidden="true" class="how-it-works-step">1</span>
                	</div>
                    <h3>Sign up</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                	<div class="how-it-works-box-icon">
                		<i class="fa fa-ticket"></i>
                		<span aria-hidden="true" class="how-it-works-step">2</span>
                	</div>
                    <h3>Make payment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                	<div class="how-it-works-box-icon">
                		<i class="fa fa-key"></i>
                		<span aria-hidden="true" class="how-it-works-step">3</span>
                	</div>
                    <h3>Log in</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                	<div class="how-it-works-box-icon">
                		<i class="fa fa-thumbs-up"></i>
                		<span aria-hidden="true" class="how-it-works-step">4</span>
                	</div>
                    <h3>Start creating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <a class="btn btn-link-1 scroll-link" ui-sref="register">Sign up now</a>
            	</div>
            </div>
        </div>
    </div>
</div>